@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans');

a.toplevel_page_em-documentation-page > div.wp-menu-image:before {
	content: 'EM';
	position: relative;
	top: 4px;
	font-family: 'Black Han Sans', sans-serif;
	font-size: 14px;
}


li.toplevel_page_em-documentation-page {
	margin-top: 40px !important; 
}

a.toplevel_page_em-documentation-page > div.wp-menu-image:before {
	color: #cc4 !important;
}

a.toplevel_page_em-settings-page > div.wp-menu-image:before {
	color: #c4c !important;
}


/* hit counter on page/post lists */
.column-emlanlistse_sort,
.column-em_counter {
	width: 150px;
}

/**/
/*.postarea {*/
	/*max-width: 1240px;*/
/*}*/

#theme_sitemap_meta input {
	position: relative;
	top: 2px;
}


@media only screen and (min-width: 1280px) {

	.emtheme-seo-container {
		display: flex;
		justify-content: space-between;
		font-size: 16px;
	}

	.emtheme-seo-container > div > div {
		display: flex;
		justify-content: space-between;
		align-items: center;

		margin: 5px 0;
	}

	.emtheme-seo-container input[type="text"] {
		margin-left: 10px;
	}

	.emtheme-seo-container input[type="checkbox"] {
		/*float: right;*/

		position: relative;
		top: 6px;
	}

	.emtheme-seo-crawlers {
		font-size: 16px;
		margin-bottom: 10px;
	}
}
@media only screen and (max-width: 1279px) {

	.emtheme-seo-container > div {
	}

	.emtheme-seo-container > div > div {
		margin-bottom: 30px;
		display: flex;
		justify-content: space-between;
	}

}

/* emtheme documention page */
.emtheme-documentation {
	margin: 50px 0 0 50px;
	width: 50%;
	font-size: 16px;
}

.emtheme-documentation h2,
.emtheme-documentation h3,
.emtheme-documentation h4 {
	margin: 0;
}

.emtheme-documentation-info li {
	margin: 5px 0 !important;
	/*display: inline-block !important;*/
	padding: 5px;
}

.emtheme-documentation ul {
	margin-left: 1rem !important;
}

.emtheme-documentation-info {
	display: flex;
	flex-direction: row;
}

.emtheme-documentation-info > ul > li,
.emtheme-documentation > div > ul > li {
	list-style-type: decimal;
	margin-bottom: 25px !important;
}

.emtheme-documentation-info > div > ul > li > ul > li,
.emtheme-documentation > div > ul > li > ul > li {
	list-style-type: lower-alpha;
	margin: 0;
}
.emtheme-documentation-info > div > ul > li > ul > li > ul > li,
.emtheme-documentation > div > ul > li > ul > li > ul > li {
	list-style-type: lower-roman;
}

/*
	Customizer Pane	
 */

.customize-control > label {
	text-transform: capitalize;
}

#customize-control-background_image::before,
#customize-control-theme_background-header::before,
#customize-control-theme_notfound-text::before,
#customize-control-emtheme_color-goup_bg::before,
#customize-control-emtheme_color-footer_bg::before,
#customize-control-background_color::before,
#customize-control-emtheme_color-emtop_bg::before,
#customize-control-emtheme_font-content_lineheight::before,
#customize-control-emtheme_font-title_family::before,
#customize-control-emtheme_font-title_weight::before,
#customize-control-emtheme_font-title_size::before,
#customize-control-emtheme_color-nav_bg_top::before,
#customize-control-emtheme_color-submenu_bg::before,
#customize-control-theme_footer-active::before {
	display: block;
	font-size: 20px;
	font-weight: bold;
	margin-top: 30px;
	margin-bottom: 10px;
}


#customize-control-theme_footer-active label {
	font-weight: bold;
}

#customize-control-emtheme_color-nav_bg_top::before {
	white-space: pre;
}

#customize-control-emtheme_font-content_weight::after {
	display: block;
	font-size: 10px;
	/*font-weight: bold;*/
	margin-top: 10px;
	/*margin-bottom: 10px;*/
}

#customize-control-emtheme_layout-content_width,
#customize-control-theme_background-header_opacity {
	/*position: relative;*/
	display: flex !important;
	flex-wrap: wrap;

	align-items: center;

}
#customize-control-emtheme_layout-content_width > input,
#customize-control-theme_background-header_pos_y > input,
#customize-control-theme_background-header_pos_x > input,
#customize-control-theme_background-header_opacity > input {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    /*width: 100%;  Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;

    border: solid 2px #333;
    border-radius: 30px;
    padding: 0;
    flex: 1;
    order: 3;
}

#customize-control-emtheme_layout-content_width > input:hover,
#customize-control-theme_background-header_pos_y > input::hover,
#customize-control-theme_background-header_pos_x > input::hover,
#customize-control-theme_background-header_opacity > input:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
#customize-control-emtheme_layout-content_width > input::-webkit-slider-thumb,
#customize-control-theme_background-header_pos_y > input::-webkit-slider-thumb,
#customize-control-theme_background-header_pos_x > input::-webkit-slider-thumb,
#customize-control-theme_background-header_opacity > input::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 22px; /* Set a specific slider handle width */
    height: 22px; /* Slider handle height */
    border: solid 2px #333;
    border-radius: 50%;
    background: #2a2; 
    /*background: #4CAF50;  Green background */
    cursor: pointer; /* Cursor on hover */
    z-index: 10;
}

#customize-control-emtheme_layout-content_width > input::-moz-range-thumb,
#customize-control-theme_background-header_pos_y > input::-moz-range-thumb,
#customize-control-theme_background-header_pos_x > input::-moz-range-thumb,
#customize-control-theme_background-header_opacity > input::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
    z-index: 10;
}

#customize-control-emtheme_layout-content_width > label,
#customize-control-theme_background-header_pos_y > label,
#customize-control-theme_background-header_pos_x > label,
#customize-control-theme_background-header_opacity > label {
	width: 100%;
}

.bg-head-op-nr {
	/*position: relative;*/
	/*bottom: 25px;*/
	left: 10px;
	font-family: "Black Han Sans";
	font-size: 14px;
	user-select: none;
	z-index: 5;

	order: 2;
	width: 60px;
	/*margin-right: 20px;*/

	text-align: left;
}


/* repeating */
#customize-control-theme_background-header_position,
#customize-control-theme_background-header_size,
#customize-control-theme_background-header_repeat {
	display: grid !important;

	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 10px;
}

#customize-control-theme_background-header_position input,
#customize-control-theme_background-header_size input,
#customize-control-theme_background-header_repeat input {
	margin-left: 0;
}

#customize-control-theme_background-header_position > .customize-control-title,
#customize-control-theme_background-header_size > .customize-control-title,
#customize-control-theme_background-header_repeat > .customize-control-title {
	/*width: 100%;*/
	grid-column: 1 / span 3;
}

#customize-control-theme_background-header_position > .customize-inside-control-row,
#customize-control-theme_background-header_size > .customize-inside-control-row,
#customize-control-theme_background-header_repeat > .customize-inside-control-row {
	
	box-sizing: border-box;
	margin: 0;
	white-space: nowrap;
	background-color: #ccc;
	border-radius: 30px;
	border: solid 1px #333;
	padding: 2.5px 5px;
	font-size: 12px;
}

/*.theme-struc-editor .wp-editor-tools,
.theme-struc-editor .mce-top-part,
.theme-struc-editor .mce-statusbar {
	display: none !important;
}

.theme-struc-editor .wp-editor-container {
	width: 600px;
}*/
/*#customize-control-emtheme_color-submenu_bg::before {
	content: 'Sub-menu';
}*/

/*.theme-soc-struc {
	text-decoration: underline;
	color: #22a;
	cursor: pointer;
}

.theme-soc-struc-modal {
	position: fixed;
	width: 400px;
	height: 400px;

	padding: 10px;

	background-color: white;
	border: solid 2px #aaa;
	border-radius: 5px;

	top: 20%;
	left: 20%;

	z-index: 999000;
}*/
