

/*
	A lot of css is set through inline-css by php reading from customizer settings (inc/em_css.php)
	All colors, fonts, images and most dimensions.

	0.1 html
	0.2 body

	1.0 header
		1.1 header
		1.2 navbar
		1.3 search form
	2.0 content
		2.1 widgets
		2.2 post content
		2.3 serp
	3.0 footer
	4.0 misc
		4.1 go up button
		4.2 privacy window


*/

/* 0.1 html */

/* 
	sets 1rem equal 10px 
	use rem for accessibility
*/
html {
	font-size: 62.5%;
}

/* 0.2 body */

body {
	/* overwrite wordpress body margin css */
	margin: 0;

	display: flex;
	flex-direction: column;
	align-items: center;


	min-height: 100vh;
	/*justify-content: center;*/
}

/* container for everything on page 
   used with additional css to set the page's position */
.page-container {
	align-self: stretch;

	/* 	width of page
		set to zero for force everything to center 
		if children has align-self: stretch they 
		will have 100% width of window */
	flex: 1;

	/* 	page content 
		makes default setting to be center window */
	display: flex;
	flex-direction: column;
	align-items: center;

}

/* 1.0 header */

/* 1.1 header */

/* 	full width container for header 
	to set background-color
	and margin/paddings */
.emtheme-header-container {

	position: relative;

	align-self: stretch;

	/* centers the header content */
	display: flex; 
	align-items: center;
	justify-content: center; 
	

	min-height: 8rem; /* TODO: test */
	padding: 1rem 0;
}

/* container for actual header */
.emtheme-header {

	/* vertical centering of content */
	display: flex;
	align-items: center;
}

.title-link {
	text-decoration: none;

	/* "floating" search form in header */
	margin-right: auto;
}

/* fixing wordpress custom logo/inline image */
.custom-logo,
.custom-logo-link {
	display: block;
}

/* container for site title and site tagline (description) */
.emtheme-title-tagline {
	display: flex;
	flex-direction: column;

	/* margin to logo */
	margin-left: 2rem;

	/* margin to search box. 
	sets search box as "aligned right" */
	margin-right: auto;
}


/* 1.2 navbar */

/* navbar full width container */
.navbar-background {

	/* body has flex and flex-direction: column, 
	so stretch for full width */
	align-self: stretch;

	/* centers the content of navbar */
	display: flex;
	justify-content: center;
}

/* actual navbar container */
.navbar-container {

	/* centers content */
	display: flex;
	align-items: center;
}

/* container for logo */
.navbar-identity {
	display: flex;
	align-items: center;
}

/* anchor container for title, tagline */
.navbar-title {
	white-space: nowrap;
	margin-right: auto;
}

/* container for the menu */
.navbar-menu {
	flex: 1;
	display: flex;
}

/* nav container for ul element of nav items */
.menu-container {
	/* sets navbar search box to "aligned right" */
	margin-right: auto;
}

/* site logo on navbar 
   logo is shown as background image with full width 
   but height same as navbar with overflow cropped 
   at top and bootom*/
.navbar-logo {
	/* background image url set from php */

	display: block;
	height: 100%;

	/* margin to menu */
	margin-right: 2rem;
	
	/* cropping background image */
	background-position: center;
	background-repeat: no-repeat;
}

/* moving submenu outside navbar */
.sub-menu {
	position: absolute;
}

/* showing submenu on hover */
.menu-has-child:hover > .sub-menu { 
	display: block; 
}


/* if description on links is added through menu customizer */
.emtheme-navbar-description {
	display: block;
	
	position: absolute;
	top: 2px;
	right: 2px;
	
	font-family: verdana;
	font-size: 1.2rem;
	
	z-index: 99;
}


/* 1.3 search form */

/* sets search box in header to "aligned top" */
.emtheme-header > .emtheme-search-form {
	align-self: flex-start;
}


/* search form container */
.emtheme-search-form {
	display: flex;
	align-items: center;
}

/* search form input */
.emtheme-search-input {
	background-color: inherit;
	border: none;
	width: 15rem;

	margin-left: 2rem;
}
.emtheme-search-input:focus {
	border: none;
	outline: none;
}

/* search form button */
.emtheme-search-button {
	background-color: inherit;
	border: none;
	cursor: pointer;
}


.navbar-search .emtheme-search-button { 
	background-color: inherit; 
	border: none; 
	position: relative; 
	top: 5px; 
}


/* 2.0 content */

/* 2.1 widgets */
.widget-title {
	margin: 0;
	font-size: 2rem;
}

/* 2.2 post content */

/* wp fix? */
.main p {
	margin-top: 0;
} 

/* content area */
.main {
	margin-top: 2rem;
	margin-bottom: auto;
}

/* adds widget areas to main */
.main-sidebar {
	display: grid;

	grid-template-columns: auto 1fr auto;
	grid-template-rows: auto 1fr auto;

	grid-template-areas:
	". top ."
	"left content right"
	". bottom .";

}

/* post content */
.content-column {
	grid-area: content;
}

/* settings of all default template widgets */
.default-template-widget {
	padding: 1rem;
}

/* making widgets sticky */
.default-template-top-widget,
.default-template-left-widget,
.default-template-right-widget {
	padding: 1rem;
	padding-top: 0;
	position: sticky;
	top: 2rem;
	align-self: flex-start;
}

/* centering content in widgets */
.default-template-top-widget,
.default-template-bottom-widget {
	display: flex;
	justify-content: space-around;
}

/*
	grid widget settings and margins
 */

.default-template-right-widget {
	grid-area: right;
	margin-left: 2rem;
}

.default-template-left-widget {
	grid-area: left;
	margin-right: 2rem;
}

.default-template-top-widget {
	grid-area: top;
	margin-bottom: 2rem;
}

.default-template-bottom-widget {
	grid-area: bottom;
}

/* post content */
.content {
	box-sizing: border-box;
	padding: 2rem;
	margin-bottom: 2rem;
}

/* post content title */
.content-title-text {
	margin-top: 0;
	font-size: 3.4rem;
}

/* inserted images */
.alignright {
	float: right;
	margin-left: 20px;
}

.alignleft {
	float: left;
	margin-right: 20px;
}

.aligncenter {
	margin: auto;
}

.content-flex {
	display: flex;
	margin: 2rem 0;
}

.content-flex-left {
	order: 1;
	margin-right: 2rem;
}

.content-flex-center {
	flex: 1;
	order: 2;
}

.content-flex-right {
	order: 3;
	margin-left: 2rem;
}


/* 2.3 serp 
   made to match google serp */
.emtheme-search-item {
	display: block;
	font-family: arial;

	margin-bottom: 3rem;
}

/* link */
.emtheme-search-link {
	display: block;
	color: #1a0dab;
	text-decoration: none;
	font-family: arial;
	font-size: 1.8rem;
}

/* link text */
.emtheme-search-link-text {
	font-size: 1.4rem;
	color: #006621;
}

/* container for thumbnail and excerpt */
.emtheme-search-box {
	display: flex;
}

/* post image */
.emtheme-search-thumbnail {
	margin-right: 1rem;
}

.emtheme-search-thumbnail > img {
	height: 5rem;
	width: auto;
	display: block;
}

/* post excerpt, either user set or wp generated */
.emtheme-search-excerpt {
	font-size: 1.3rem;
}

/* 3.0 footer */

/* full width container for footer */
.emtheme-footer-container {

	/* sets element to full width b/c 
	body's css settings */
	align-self: stretch;

	/* margin to post content */
	margin-top: 4rem;

	/* centering container content */
	display: flex;
	flex-direction: column;
	/*justify-content: center;*/
	align-items: center;
}

/* container for actual footer */
.emtheme-footer {

	/* positioning content */
	display: flex;
	justify-content: space-around;

	box-sizing: border-box;
	padding: 0 2rem;
}

/* footer content containers
   each represents one customizer data */
.emtheme-footer-social,
.emtheme-footer-contact,
.emtheme-footer-aboutus {
	max-width: 35rem;
	padding: 2rem 0;
}

/* */

/* 4.0 misc elements */

/* 4.1 go up "button" */
.emtheme-goup {
	display: none;
	position: fixed;
	right: 60px;
	bottom: 60px;

	border-radius: 25%;
	cursor: pointer;
	user-select: none;
}
.emtheme-goup-arrow-svg {
	height: 5rem;
	width: 5rem;
}


/* 4.2 accept cookie window 
   privacy statement
*/

/* full width container */
.emtheme-cookie-container {
	position: fixed;
	bottom: 60px;
	width: 100%;

	/* centering content */
	display: flex;
	justify-content: center;
	align-content: center;

	font-size: 1.6rem;
}

/* cookie container */
.emtheme-cookie {
	display: inline-flex;
	min-width: 30%;
	max-width: 60%;
	padding: 2rem;

	justify-content: space-between;
	border-radius: 10px;
	background-color: red;
	opacity: 0;
}

.emtheme-cookie-text {
	align-self: center;
	padding-right: 2rem;
	user-select: none;
}

.emtheme-cookie-text > p {
	margin-bottom: 0;
}

.emtheme-cookie-button {
	padding: 0.5rem 2rem;

	align-self: center;
	
	border: none;
	border-radius: 10px;
	font-size: 2rem;

	cursor: pointer;
	user-select: none;
}

.emtheme-cookie-button:focus {
	outline:none;
}

.emtheme-cookie-fade {
	opacity: 0 !important;
	transition: opacity 1s;
}

/* 4.3 404 page */

.page-404 {
	display: flex;
	justify-content: space-between;

	margin-top: 5rem;
}

.column-404 {
	flex: 1;

	display: flex;
	justify-content: center;
	/*align-content: center;*/
}


/* stuff to be hidden by js on desktop */
.desktop-hidden {
	display: none;
}

.emtheme-cc {
	font-family: Verdana;
	font-size: 1rem;
	margin: 0.5rem 0;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	
	html {
		min-height: 100%;
	}

	body {
		display: block;
		position: relative;
	}

	.main-sidebar {
		display: -ms-grid;
		-ms-grid-columns: auto 1fr auto;
		-ms-grid-rows: auto 1fr auto;
	}

	.default-template-top-widget {
		-ms-grid-row: 1;
		-ms-grid-column: 2;
	}

	.default-template-bottom-widget {
		-ms-grid-row: 3;
		-ms-grid-column: 2;
	}

	.default-template-right-widget {
		-ms-grid-row: 2;
		-ms-grid-column: 3;

	}

	.default-template-left-widget {
		-ms-grid-row: 2;
		-ms-grid-column: 1;

	}

	.content-column {
		-ms-grid-row: 2;
		-ms-grid-column: 2;
	}

	.emtheme-footer-container {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
	}

}