

/*
	A lot of css is set through inline-css by php reading from customizer settings (inc/em_css.php)
	All colors, fonts, images and most dimensions.

	LAYOUT
	|html
	|	body (flex column)
	|   | 	page-container (flex column)
	|   |   |	content-container (flex?)
	|   |   |   | 			main main-sidebar (grid)
	|   |   |   | 			content-column widget(s) (grid items)
	|   |   | 	footer (flex)
	|   | 	go up button (fixed)
	|   | 	privacy window (fixed)

	0.1 html
	0.2 body

	1.0 header
		1.1 header
		1.2 navbar
		1.3 search form
	2.0 content
		2.1 widgets
		2.2 post content
		2.3 serp
	3.0 footer
	4.0 misc
		4.1 go up button
		4.2 privacy window
		4.3 404 page
		4.4 copy right 
	5.0 IE exclusive


*/

/* 0.1 html */

/* 
	sets 1rem equal 10px 
	use rem for accessibility
*/
html {

	/* default size */
	font-size: 62.5%;
}

/* 0.2 body */

body {
	/* overwrite wordpress body margin css */
	margin: 0;

	/*display: flex;
	flex-direction: column;
	align-items: center;*/

	/*flex: 1;*/

	/*min-height: 100vh;*/
	/*justify-content: center;*/
}

/* stuff to be hidden by js on desktop */
.desktop-hidden {
	display: none;
}

/* 	container for page 
	using flexbox to center or horizontal stretch page items 
	using flex 1 on content element to push footer to bottom */
.page-container {

	/* pushing footer to bottom when page content has low height */
	min-height: 100vh;

	/* flexbox for centering/strecting */
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* 	container for page content 
	header, navbar, post content, widget content
*/
.content-container {

	/* 100% width in flexbox */
	align-self: stretch;

	/* pushing footer down to bottom */
	flex: 1;


	/* header, navbar, post content, widget content */
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* 1.0 header */

/* 1.1 header */

/* 	full width container for header 
	to set background-color
	and margin/paddings */
.emtheme-header-container {

	position: relative;

	align-self: stretch;


	/* centers the header content */
	display: flex; 
	align-items: center;
	justify-content: center; 
	

	/*min-height: 8rem;  TODO: test */
	padding: 1rem 0;
}

/* container for actual header */
.emtheme-header {

	/* vertical centering of content */
	display: flex;
	align-items: center;
}

.title-link {
	text-decoration: none;

	margin-right: auto;
}

/* fixing wordpress custom logo/inline image */
.custom-logo,
.custom-logo-link {
	display: block;
}

/* container for site title and site tagline (description) */
.emtheme-title-tagline {
	display: flex;
	flex-direction: column;

	/* margin to logo */
	margin-left: 2rem;

	/* margin to search box. 
	sets search box as "aligned right" */
	margin-right: auto;
}

.emtheme-header-tagline {
	margin-left: 2rem;
}

/* 1.2 navbar */

/*
	LAYOUT (class names)
	navbar-background 			-> background-color
	|	navbar-container		-> width
	|	|	navbar-identity		-> logo/title (if toggled)
	|	|	|	navbar-logo		-> logo image (if chosen)
	|	|	|	navbar-title	-> site title (if chosen)
	|	|	navbar-menu			-> container
	|	|	|	menu-container	-> nav element
	|	|	|	navbar-search	-> search form (section 1.3)

	NAVBAR-BACKGROUND
		has background color/linear-gradient 
		and is set to "100% width" at defaulit

		NAVBAR-CONTAINER
			has width. set to 1240px as default 
			and matches other elements that is centered on screen.

			NAVBAR-IDENTITY
				container for logo and title if set in wp customizer.
				set css: margin-right: auto to push menu to the right.

				NAVBAR-LOGO
					container for logo image if chosen in wp customizer

				NAVBAR-TITLE 
					element for site title if set in wp customizer.
					text set to _not_ wrap

			NAVBAR-MENU
				container for menu element (nav) and search form.
				on mobile, the search form is a part of the togglable nav menu.

				MENU-CONTAINER
					the actual html nav element.
					contains an ul element of nav items.

					MENU-LIST
						ul element.

						MENU-ITEM
							li element that contains the nav item.
							and contain possible sub-menus.

							MENU-LINK
								the actual nav item as an anchor.
								contains all visual css (color, font, padding, etc)
				
				NAVBAR-SEARCH
					container for nav container for search form

					EMTHEME-SEARCH-FORM
						container for form element

						EMTHEME-SEARCH-INPUT
							input field for search form

						EMTHEME-SEARCH-BUTTON
							search button

							MATERIAL-ICONS
								looking glass icon in search button
*/


/* navbar full width container */
.navbar-background {

	/* body has flex and flex-direction: column, 
	so stretch for full width */
	align-self: stretch;

	/* centers the content of navbar */
	display: flex;
	justify-content: center;
}

/* navbar container with width set by back-end */
.navbar-container {

	/* vertical centers content */
	display: flex;
	align-items: center;
}

/* container for logo and title */
.navbar-identity {
	
	/* vertical centers content */

	height: 100%;
	display: flex;
	align-items: center;

	margin-right: auto;
}

/* site logo on navbar */
.navbar-logo {
	/* background image url set from php */

	display: block;
	/*height: 100%;*/

	align-self: center;

	/* margin to menu */
	margin-right: 2rem;
	
	/* cropping background image */
	/*background-position: center;*/
	/*background-repeat: no-repeat;*/
}


.navbar-logo .custom-logo {
	/*height: 4rem;*/
	/*width: auto;*/
	/*height: auto;*/
	/*width: 100%;*/
	/*min-height: 4rem;*/
}

.navbar-title {

	white-space: nowrap;
	text-decoration: none; 
	/* pushes search box (if toggled) to the right */
	margin-right: auto;
}

/* container for the menu */
.navbar-menu {
	/*flex: 1;*/
	display: flex;
}

/* 	nav container for ul element of nav items 
	the nav element */
.menu-container {

	/* sets navbar search box to "aligned right" */
	margin-right: auto;
}

.menu-list > .menu-item:last-child > .menu-link {
	border-right: none !important;
}

/* moving submenu outside navbar */
.sub-menu {
	position: absolute;
}

/* showing submenu on hover */
.menu-has-child:hover > .sub-menu { 
	display: block; 
}


/* if description on links is added through menu customizer */
.emtheme-navbar-description {
	display: block;
	
	position: absolute;
	top: 2px;
	right: 2px;
	
	font-family: verdana;
	font-size: 1.2rem;
	
	z-index: 99;
}


/* 1.3 search form */

/* sets search box in header to "aligned top" */
.emtheme-header > .emtheme-search-form {
	align-self: flex-start;
}


/* search form container */
.emtheme-search-form {
	display: flex;
	align-items: center;
}

.emtheme-search-form > form {
	white-space: nowrap;
}

/* search form input */
.emtheme-search-input {
	background-color: inherit;
	border: none;
	width: 15rem;

	margin-left: 2rem;
}
.emtheme-search-input:focus {
	border: none;
	outline: none;
}

/* search form button */
.emtheme-search-button {
	background-color: inherit;
	border: none;
	cursor: pointer;
}


/* background color for search form on navbar */
.navbar-search .emtheme-search-button { 
	background-color: inherit; 
	border: none; 
	position: relative; 
	top: 5px; 
}


/* 2.0 content */

/* adds widget areas to main */
/* main tag */
.main-sidebar {
	display: grid;

	grid-template-columns: auto 1fr auto;
	grid-template-rows: auto 1fr auto;

	grid-template-areas:
	". top ."
	"left content right"
	". bottom .";
}

/* first paragraph does not have top margin */
.main p:first-child {
	margin-top: 0;
} 

/* content area */
.main {
	margin-top: 2rem;
	margin-bottom: auto;
}


/* 2.1 widgets */
.widget-title {
	margin: 0;
	font-size: 2rem;
}

/* settings of all default template widgets */
/* aside tag */
.default-template-widget {
	padding: 1rem;
}

.default-template-widget img {
	display: block;
}

/* making widgets sticky */
.default-template-top-widget,
.default-template-left-widget,
.default-template-right-widget {
	padding: 1rem;
	position: sticky;
	top: 2rem;
	align-self: flex-start;
}

/* centering content in widgets */
.default-template-top-widget,
.default-template-bottom-widget {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 1rem;

	/*align-items: center;*/
}

.default-template-top-widget p,
.default-template-bottom-widget p {
	padding: 0;
	margin: 0;
}


/*
	grid widget settings and margins
 */

.default-template-right-widget {
	grid-area: right;
	margin-left: 2rem;
}

.default-template-left-widget {
	grid-area: left;
	margin-right: 2rem;
}

.default-template-top-widget {
	grid-area: top;
	margin-bottom: 2rem;
}

.default-template-bottom-widget {
	grid-area: bottom;
}


/* 2.2 post content */

/* post content area */
/* section tag */
.content-column {
	grid-area: content;
}

/* post content container */
/* article tag */
.content {
	box-sizing: border-box;
	padding: 2rem;
	margin-bottom: 2rem;
}

/* post content title */
.content-title-text {
	margin-top: 0;
	font-size: 3.4rem;
}





/* inserted images */
.alignright {
	float: right;
	margin-left: 20px;
}

.alignleft {
	float: left;
	margin-right: 20px;
}

.aligncenter {
	margin: auto;
}


/* 	content-flex gets added through filter 
	on [col left/center/right] matched in post content. */
.content-flex {
	display: flex;
	margin: 2rem 0;
}

.content-flex-left {
	order: 1;
	margin-right: 2rem;
	width: 25rem;
}

.content-flex-center {
	flex: 1;
	order: 2;
}

.content-flex-right {
	order: 3;
	margin-left: 2rem;
	width: 25rem;
}


/* 2.3 serp 
   made to match google serp */
.emtheme-search-item {
	display: block;
	font-family: arial;

	margin-bottom: 3rem;
}

/* link */
.emtheme-search-link {
	display: block;
	color: #1a0dab;
	text-decoration: none;
	font-family: arial;
	font-size: 1.8rem;
}

/* link text */
.emtheme-search-link-text {
	font-size: 1.4rem;
	color: #006621;
}

/* container for thumbnail and excerpt */
.emtheme-search-box {
	display: flex;
}

/* post image */
.emtheme-search-thumbnail {
	margin-right: 1rem;
}

.emtheme-search-thumbnail > img {
	height: 5rem;
	width: auto;
	display: block;
}

/* post excerpt, either user set or wp generated */
.emtheme-search-excerpt {
	font-size: 1.3rem;
}

/* 3.0 footer */

/* full width container for footer */
.emtheme-footer-container {

	/* margin to post content */
	margin-top: 4rem;

	/* centering container content */
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* copy right element */
.emtheme-cc {
	font-family: Verdana;
	font-size: 1rem;
	margin: 0.5rem 0;
}

/* container for actual footer */
.emtheme-footer {

	/* positioning content */
	display: flex;
	justify-content: space-around;

	box-sizing: border-box;
	padding: 0 2rem;
}

/* footer content containers
   each represents one customizer data */
.emtheme-footer-social,
.emtheme-footer-contact,
.emtheme-footer-aboutus {
	max-width: 35rem;
	padding: 2rem 0;
}


/* 4.0 misc elements */

/* 4.1 go up "button" */
.emtheme-goup {
	display: none;
	position: fixed;
	right: 60px;
	bottom: 60px;

	border-radius: 25%;
	cursor: pointer;
	user-select: none;
}
.emtheme-goup-arrow-svg {
	height: 5rem;
	width: 5rem;
}


/* 4.2 accept cookie window 
   privacy statement
*/

/* full width container */
.emtheme-cookie-container {
	position: fixed;
	bottom: 60px;
	width: 100%;

	/* centering content */
	display: flex;
	justify-content: center;
	align-content: center;

	font-size: 1.6rem;
}

/* cookie container */
.emtheme-cookie {
	display: inline-flex;
	min-width: 30%;
	max-width: 60%;
	padding: 2rem;

	justify-content: space-between;
	border-radius: 10px;
	background-color: red;
	opacity: 0;
}

.emtheme-cookie-text {
	align-self: center;
	padding-right: 2rem;
	user-select: none;
}

.emtheme-cookie-text > p {
	margin-bottom: 0;
}

.emtheme-cookie-button {
	padding: 0.5rem 2rem;

	align-self: center;
	
	border: none;
	border-radius: 10px;
	font-size: 2rem;

	cursor: pointer;
	user-select: none;
}

.emtheme-cookie-button:focus {
	outline:none;
}

.emtheme-cookie-fade {
	opacity: 0 !important;
	transition: opacity 1s;
}

/* 4.3 404 page */

.page-404 {
	display: flex;
	justify-content: space-between;

	margin-top: 5rem;
}

.column-404 {
	flex: 1;
	/*display: flex;*/
	text-align: center;
	justify-content: center;
	margin-right: 2rem;
	padding: 2rem;
	/*align-content: center;*/
	/*width: 50% !important;*/
}





/* internet explorer only */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	
	html {
		min-height: 100%;
	}

	body {
		display: block;
		min-height: 100%;
		position: relative;
	}

	.page-container {
		display: block;
		min-height: 100vh;
	}

	.main-sidebar {
		display: -ms-grid;
		-ms-grid-columns: auto 1fr auto;
		-ms-grid-rows: auto 1fr auto;

		margin-bottom: 30rem;
	}

	.default-template-top-widget {
		-ms-grid-row: 1;
		-ms-grid-column: 2;
	}

	.default-template-bottom-widget {
		-ms-grid-row: 3;
		-ms-grid-column: 2;
	}

	.default-template-right-widget {
		-ms-grid-row: 2;
		-ms-grid-column: 3;

	}

	.default-template-left-widget {
		-ms-grid-row: 2;
		-ms-grid-column: 1;

	}

	.content-column {
		-ms-grid-row: 2;
		-ms-grid-column: 2;
	}

	.emtheme-footer-container {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
	}

}