

html { 
	font-size: 62.5%;
}

body {
	margin: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}


.navbar-background {
	align-self: stretch;
	/*position: relative;*/
	/*display: flex;*/

	/*align-items: center;*/
}

.navbar-container {
	display: flex;
	position: relative;
}

.navbar-identity {
	display: flex;
	align-items: center;
	margin-right: auto;
}

.navbar-logo {
	margin-right: 1rem;
}

.custom-logo {
	display: block;
}

.navbar-container {
	/*display: flex;*/
}

.navbar-menu {
	display: none;
	position: absolute;
	top: 46px;
	z-index: 99;

	width: 100vw;
}

.navbar-menu-show {
	display: flex;
	flex-direction: column-reverse;
}

/*.menu-container {
	z-index: 99;
	position: static;
	
}*/

.navbar-search {
	display: flex;
	align-items: center;
	z-index: 100;
}

.emtheme-search-form {
	flex: 1;
	display: flex;
	justify-content: flex-end;
	margin: 20px 0;
}

.emtheme-search-input {
	margin-left: 7px;
	flex: 1;
}
.emtheme-search-input:focus {
	outline: none;
	/*border-bottom: solid 2px white;*/
}

.emtheme-search-button {
	margin-right: 7px;
}

.emtheme-mobile-arrow {
	display: flex;
	align-items: center;
}

.menu-list {
	flex-direction: column;
	z-index: 99;
}

.menu-link {
	padding: 1.5rem;
}
.menu-has-child {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.menu-has-child > a {
	flex: 1;
}

.sub-menu {
	order: 3;
	width: 100vw;
}

.emtheme-navbar-description {
	position: absolute;
	right: 10px;
}

/*.menu-container::before {
	content: 'E';
	display: none;
}

.menu-container {
	display: none;
}*/

.emtheme-goup {
	display: inline-block;
	position: fixed;
	right: 60px;
	bottom: 60px;

	/*background-color: pink;*/
	border-radius: 25%;
	/*border: solid 2px black;*/
	cursor: pointer;
	user-select: none;
}
.emtheme-goup-arrow-svg {
	height: 5rem;
	width: 5rem;
}

.goup-arrow {
	/*fill: red;*/
}