
/*

	0.1 html
	0.2 body
	0.3 page-container
	0.4 content-container

	1.0 header
	2.0 navbar
	3.0 content
		3.1 serp
	4.0 footer
	5.0 widget
	6.0 misc
*/

html { 

	/* default size */
	font-size: 62.5%;
}

body {

	/* wp fix */
	margin: 0;
}

img {
	max-width: 100%;
	height: auto;
}


/**/
.page-container {

	/* footer fix */	
	min-height: 100vh;


	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.content-container {
	margin-bottom: auto;
}


/* 1.0 header */
.emtheme-header-container {
	display: none;
}


/* 2.0 navbar */

/* background color */
.navbar-background {
	height: 4.4rem;
}

/* width */
.navbar-container {
	display: flex;
	position: relative;
	/*max-width: 100vw;*/
}

/* logo, site title */
.navbar-identity {
	display: flex;
	align-items: center;
	margin-right: auto;

	max-width: 80%;
	padding-right: 2rem;

}

/* container for logo */
.navbar-logo {
	margin-right: 1rem;
}

/* logo element */
.custom-logo {
	display: block;
	height: 4.4rem !important;
	width: auto !important;
}

/* site title */
.navbar-title {
	white-space: nowrap;
	overflow: hidden;

	text-decoration: none;

	font-size: 2.8rem;
}


/* container for nav and search form elements */
.navbar-menu {
	display: none;
	position: absolute;
	top: 4.4rem;
	z-index: 99;

	width: 100vw;
}

/* onclick class */
.navbar-menu-show {
	display: flex;

	/* sets search form above nav menu */
	flex-direction: column-reverse;
}

/* container for search form */
.navbar-search {
	display: flex;
	align-items: center;
	/*z-index: 100;*/
}

/* nav tag container for search form */
.emtheme-search-form {
	flex: 1;
	display: flex;
	justify-content: flex-end;
	margin: 20px 0;
	box-sizing: border-box;
	max-width: 100vw;
}

/* actual search form */
.emtheme-search-form > form {
	flex: 1;

	display: flex;

	box-sizing: border-box;
}

/* search input */
.emtheme-search-input {
	/*margin: 0 4.5rem;*/
	margin-left: 2rem;
	flex: 1;
}

.emtheme-search-input:focus {
	outline: none;
}

/* search button */
.emtheme-search-button {
	margin-right: 1rem;

	background-color: inherit;
	border: none;
}


.menu-list {
	flex-direction: column;
	z-index: 99;
}

.menu-link {
	padding: 1.5rem;
	overflow: hidden;
	border-right: none;
}

.menu-has-child {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.menu-has-child > a {
	flex: 1;
}

.sub-menu {

	/* show sub menu after arrow */
	order: 3;
	
	width: 100vw;
	box-sizing: border-box;
}

/* text set in wp navbar maker */
.emtheme-navbar-description {
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 1.6rem;
}

/* sub-menu arrow container */
.mobile-arrow-container {
	display: flex;
	align-items: center;

	margin: 0 1rem;
}

/* menu/arrow icon */
.nav-arrow-svg,
.mobile-menu-svg {
	position: relative;
	top: 0.2rem;
	height: 4rem;
	width: 4rem	;
}


/* 3.0 content */


.main {
	margin-bottom: auto;
}

.content {
	padding: 1rem;
	margin: 1rem 0;
}

/* wp classes for inserted images */
.alignright,
.alignleft,
.aligncenter {
	display: block;
	margin: auto;
}


/* 3.1 SERP */

.emtheme-serp {
	padding: 0;
	margin: 0;
}

.emtheme-search-item {
	display: block;
	font-family: arial;

	margin-bottom: 3rem;
}

/* link */
.emtheme-search-link {
	display: inline-block;
	color: #1a0dab;
	text-decoration: none;
	font-family: arial;
	font-size: 1.8rem;

	padding: 0.2rem 0.5rem;
	border: solid 1px #ccc;
	border-radius: 5px;

	background-color: #aaaaaa20;
}

/* link text */
.emtheme-search-link-text {
	font-size: 1rem;
	color: #006621;
}

/* container for thumbnail and excerpt */
.emtheme-search-box {
	/*display: flex;*/
}

/* post image */
.emtheme-search-thumbnail {
	/*margin-right: 1rem;*/
}

.emtheme-search-thumbnail > img {
	width: 100%;
	height: auto;
	/*width: auto;*/
	display: block;
}

/* post excerpt, either user set or wp generated */
.emtheme-search-excerpt {
	font-size: 1.3rem;
}

/* 4.0 footer */

.emtheme-cc {
	text-align: center;
	font-family: Verdana;
	padding-bottom: 2px;
}

.emtheme-footer {
	padding: 2rem;
}


/* 5.0 widgets */

.widget-title {
	margin: 0;
	font-size: 1.8rem;
}

.default-template-widget {
	padding: 1rem;
	margin: 1rem 0;
}

.default-template-widget img {
	margin: auto;
	display: block;
}

.default-template-top-widget,
.default-template-bottom-widget {

	display: flex;
	justify-content: space-around;

}


/* 6.0 misc */

/* go up button window */
.emtheme-goup {
	display: inline-block;
	position: fixed;
	right: 20px;
	bottom: 20px;

	border-radius: 25%;
	cursor: pointer;
	user-select: none;
}
.emtheme-goup-arrow-svg {
	height: 5rem;
	width: 5rem;
}


/* privacy info window */
.emtheme-cookie-container {
	position: fixed;
	bottom: 60px;
	width: 100%;

	/* centering content */
	display: flex;
	justify-content: center;
	align-content: center;

	font-size: 1.6rem;
}

/* cookie container */
.emtheme-cookie {
	display: inline-flex;
	flex-direction: column;
	min-width: 30%;
	max-width: 60%;
	padding: 2rem;

	justify-content: space-between;
	border-radius: 10px;
	opacity: 0;
}

.emtheme-cookie-text {
	align-self: center;
	padding-right: 2rem;
	user-select: none;
}

.emtheme-cookie-text > p {
	margin-bottom: 0;
}

.emtheme-cookie-button {
	padding: 0.5rem 2rem;
	margin-top: 2rem;

	align-self: center;
	
	border: none;
	border-radius: 10px;
	font-size: 2rem;

	cursor: pointer;
	user-select: none;
}

.emtheme-cookie-button:focus {
	outline:none;
}

.emtheme-cookie-fade {
	opacity: 0 !important;
	transition: opacity 1s;
}